[Unit]
Description=Makes data from device-tree nodes available thru D-Bus
After=dbus.service

[Service]
ExecStart=/usr/libexec/entity-manager/devicetree-vpd-parser
Type=dbus
BusName=xyz.openbmc_project.MachineContext

[Install]
WantedBy=basic.target
