[Unit]
Description=NFC FRU Parser
Before=neard.service

[Service]
ExecStart=/usr/libexec/entity-manager/nfc-fru-parser
Restart=always

[Install]
WantedBy=multi-user.target
