[Unit]
Description=Fru Device
ConditionFileNotEmpty={bindir}/fru-device
StopWhenUnneeded=true
After=xyz.openbmc_project.CloseMuxes.service dbus.service

[Service]
ExecStart=/usr/sbin/fru-device
Type=oneshot

[Install]
WantedBy=basic.target
