[Unit]
Description=Entity Manager
After=dbus.service
ConditionFileNotEmpty={bindir}/entity-manager

[Service]
ExecStartPre=/bin/mkdir -p /var/configuration
ExecStartPre=/bin/mkdir -p /tmp/overlays
ExecStart=/usr/sbin/entity-manager
Restart=always
Type=simple

[Install]
WantedBy=basic.target
