/dts-v1/;
/plugin/;
/ {
    compatible = "$platform";
    fragment@0{
        target-path = "/";
        __overlay__{
            iio-hwmon {
                compatible = "iio-hwmon";
                oemname$index = "$name";
            };
        };

    };
};