/dts-v1/;
/plugin/;
/ {
    compatible = "$Platform";
    fragment@0{
        target-path = "/";
        __overlay__{
            iio-hwmon {
                compatible = "iio-hwmon";
                oemname$Index = "$Name";
            };
        };

    };
};