/dts-v1/;
/plugin/;
/ {
    compatible = "$Platform";
    fragment@0{
        target = <&pwm_tacho>;
        __overlay__{
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            oemname$Pwm = "$Name";
            fan@$Pwm {
                reg = <$Pwm>;
                aspeed,fan-tach-ch = /bits/ 8 <$Tachs>;
            };
        };

    };
};
