/dts-v1/;
/plugin/;
/ {
    compatible = "$platform";
    fragment@0{
        target = <&i2c$bus>;
        __overlay__{
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            pmbus@$Name {
                compatible = "pmbus";
                reg = <$address>;
                oemname1 = "$Name";
            };
        };
    };
};
