/dts-v1/;
/plugin/;
/ {
    compatible = "$Platform";
    fragment@0{
        target = <&i2c$Bus>;
        __overlay__{
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            $Name: pmbus@$Address {
                compatible = "pmbus";
                reg = <0x$Address>;
                oemname1 = "$Name";
            };
        };
    };
};
