/dts-v1/;
/plugin/;
/ {
    compatible = "$platform";
    fragment@0{
        target = <&peci0>;
        __overlay__{
            #address-cells = <1>;
            #size-cells = <0>;

            Skylake_CPU_$cpu_id: peci-client@$address {
                compatible = "intel,peci-client";
                oemname1 = "$Name";
                reg = <0x$address>;
                status = "okay";
            };
        };
    };
};
