/dts-v1/;
/plugin/;
/ {
    compatible = "$platform";
    fragment@0{
        target = <&i2c$bus>;
        __overlay__{
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            tmp421@$name$name1 {
                compatible = "ti,tmp421";
                reg = <$address>;
                oemname1 = "$name";
                oemname2 = "$name1";
                scale = "-3";
            };
        };

    };
};